{% extends 'base.html.twig' %}
{% block body %}
    <a class="btn btn-success" href="{{ path("server_add") }}">Add Server</a>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th scope="col">IP</th>
            <th scope="col">Name</th>
            <th scope="col">Updated</th>
            <th scope="col">OS</th>
            <th scope="col">Docker Version</th>
            <th scope="col">Credentials</th>
            <th scope="col">Active</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for server in servers %}
            <tr>
                <th scope="row">{{ server.ip }}</th>
                <td>{{ server.name }}</td>
                <td>{{ server.updated|date("d-m-Y h:i") }}</td>
                <td>{{ server.os|default('N/A') }}</td>
                <td>{{ server.dockerinfo.version|default('N/A') }}</td>
                <td>{{ server.serverCredential.name|default('No credentials set') }}</td>
                <td>{{ server.active }}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('server_view', {'server': server.id}) }}">View</a></li>
                        <li><a href="{{ path('server_edit', {'server': server.id}) }}">Edit</a></li>
                        <li><a href="{{ path('server_delete', {'server': server.id}) }}">Delete</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}