<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dockmin</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('server_index') }}" id="dropdown-account"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-account">
                        <a class="dropdown-item" href="{{ path('account_index') }}">Info</a>
                        <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('server_index') }}" id="dropdown-server"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servers</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-server">
                        <a class="dropdown-item" href="{{ path('server_index') }}">List</a>
                        <a class="dropdown-item" href="{{ path('server_credentials_index') }}">Server Credentials</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_registration') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>